In [8]:
a.insert(0,'Car')

['Car', 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:

import pandas as pd
type = []
for i in range(1,9):
    type.append(f'features_{i}')
type.insert(0,'Type')
type.insert(1,'Distance')

In [27]:
dfObj = pd.DataFrame([a], columns=type)

In [28]:
dfObj

,Type,features_1,features_2,features_3,features_4,features_5,features_6,features_7,features_8
0,Car,1,2,3,4,5,6,7,8

In [36]:
car = [[2],[2]]
wall = [[2],[2]]
human = [[3],[3]]

In [37]:
for c in car:
    c.insert(0,'Car')
for c in wall:
    c.insert(0,'Wall')
for c in human:
    c.insert(0,'Human')

In [38]:
car

[['Car', 2], ['Car', 2]]

In [39]:
wall

[['Wall', 2], ['Wall', 2]]

In [40]:
human

[['Human', 3], ['Human', 3]]

In [48]:
for c in a:
    c[0] = c[0] + 2

In [49]:
a

[[3, 2, 3, 4, 5, 6, 7, 8]]

In [50]:
for i in range(1,91):
    type.append(f'features_{i}')

In [52]:

import numpy as np 
a = np.array([[1, 1], [2, 2], [3, 3]])

In [71]:
a.tolist()

[[1, 1], [2, 2], [3, 3]]

In [70]:
a

array([[1, 1],
       [2, 2],
       [3, 3]])

In [87]:
None + [[1,3,4,5]] + [['motorbike', 'aa']]

TypeError: unsupported operand type(s) for +: 'NoneType' and 'list'

In [84]:
np.concatenate(([[1,3,4,5]], [['motorbike', 'aa']]), axis=0)

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [77]:
a