In [1]:
import pandas as pd

In [2]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

NameError: name 'tuples' is not defined

In [42]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],['one', 'two', 'one', 'three', 'four', 'five', 'one', 'two']]

In [43]:
tuples = list(zip(*arrays))

In [44]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'three'),
 ('foo', 'four'),
 ('foo', 'five'),
 ('qux', 'one'),
 ('qux', 'two')]

In [45]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [46]:
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['five', 'four', 'one', 'three', 'two']],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3], [2, 4, 2, 3, 1, 0, 2, 4]],
           names=['first', 'second'])

In [47]:
s = pd.Series(np.random.randn(8), index=index)

In [10]:
import numpy as np

In [48]:
s = pd.Series(np.random.randn(8), index=index)

In [33]:
s['bar']

second
one    0.712213
two    1.169791
dtype: float64

In [49]:
s.loc[:,["one","two"]]

first  second
bar    one       0.298274
       two      -1.010133
baz    one      -1.645875
qux    one       0.651655
       two      -0.145756
dtype: float64

In [51]:
a= ["one","five"]

In [183]:
df = pd.DataFrame(np.random.rand(5, 2),
                  index=[['a', 'a', 'b', 'b', 'b'], [1.1, 2.1, 1.1, 2.1, 3.1]],
                  columns=['data1', 'data2'])

In [184]:
df

          data1     data2
a 1.1  0.679968  0.463699
  2.1  0.469741  0.430149
b 1.1  0.608384  0.549875
  2.1  0.346268  0.816323
  3.1  0.280970  0.521140

In [190]:
df['b':'b']

          data1     data2
b 1.1  0.608384  0.549875
  2.1  0.346268  0.816323
  3.1  0.280970  0.521140

In [192]:
df.loc[(*,1.1),(*,2.1)]

SyntaxError: invalid syntax (<ipython-input-192-d04c36944392>, line 1)

In [214]:
def multindex_loc(df, index):
    label = df.index.levels[0][index]
    return df.iloc[df.index.get_loc(label)]
multindex_loc(df,1)
df

          data1     data2
a 1.1  0.679968  0.463699
  2.1  0.469741  0.430149
b 1.1  0.608384  0.549875
  2.1  0.346268  0.816323
  3.1  0.280970  0.521140

In [224]:
df.reset_index().loc[['level_0'],:]

KeyError: "None of [Index(['level_0'], dtype='object')] are in the [index]"